<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931696051402-0csur2k4574ocervh349cf3723u2cada.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931696051402-0csur2k4574ocervh349cf3723u2cada</string>
	<key>API_KEY</key>
	<string>AIzaSyAPJD0beJNLOMG72RerF-n2mt4oBy3bU5A</string>
	<key>GCM_SENDER_ID</key>
	<string>931696051402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeyParkhomenko.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-94d26</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-94d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931696051402:ios:43a51c64b2f75b8bfc2033</string>
</dict>
</plist>